div id="posts"

javascript:
    $(function() {
    // Blog is the app name
    window.router = new CShopping.Routers.PostsRouter({posts: #{@posts.to_json.html_safe}});
    Backbone.history.start();
    });
